<% title "Transporter" %>

<p>
  <strong>Nome:</strong>
  <%=h @transporter.nome %>
</p>

<p>
  <%= link_to "Edit", edit_admin_transporter_path(@transporter) %> |
  <%= link_to "Destroy", @transporter, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_transporters_path %>
</p>
