<% title "Editar Download" %>
<h1>Editar Download</h1><br />
<p></p><br />

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @download %> |
  <%= link_to "View All", admin_downloads_path %>
</p>
