<% title "Edit Admin/Product Request" %>
<h1>Editar Pedido</h1><br />
<p></p><br />

<%= render 'form' %>

<p>
  <%= link_to "Show", [:admin, @product_request] %> |
  <%= link_to "View All", admin_product_requests_path %>
</p>
