<%content_for :head do%>
	<%=stylesheet_link_tag "product_requests"%>
<%end%>
	<div id="Dadosbox_p_requests">    
    <h1 class="Titleh1"><img src="/images/tit_nomerevendedor.png"/>Pedido N.: <%=@pedido.id%><%#=@representante.nome%></h1>
	<div class="clear"></div>
	<a href="javascript:history.go(-1);"><img src="/images/btn_voltarbxperfil.png" width="43" height="11" class="bt_voltar_align"/></a> 
	<br />
	<div class="Line_details_pr_1"></div>
		<h2>Dados do Representante</h2> 
		<ul>
            <li><label>Telefone:</label><span><%#=@representante.telefone%></span></li>
            <li><label>Celular:</label><span><%#=@representante.celular%></span></li>
            <li><label>Email:</label><span><%#=@representante.email%></span></li>
        </ul>
		<div class="Line_details_pr"></div>
        <h2>Dados da Revenda</h2> 
		<ul>
            <li><label>Telefone:</label><span><%#=@representante.telefone%></span></li>
            <li><label>Celular:</label><span><%#=@representante.celular%></span></li>
            <li><label>Email:</label><span><%#=@representante.email%></span></li>
        </ul>	
		<div class="Line_details_pr"></div>
        <h2>Dados da Transportadora</h2> 
		<ul>
            <li><label>Telefone:</label><span><%#=@representante.telefone%></span></li>
            <li><label>Celular:</label><span><%#=@representante.celular%></span></li>
            <li><label>Email:</label><span><%#=@representante.email%></span></li>
        </ul>
		<div class="Line_details_pr"></div>
        <h2>Informações Adicionais</h2> 
		<ul>
            <li><label>Telefone:</label><span><%#=@representante.telefone%></span></li>
            <li><label>Celular:</label><span><%#=@representante.celular%></span></li>
            <li><label>Email:</label><span><%#=@representante.email%></span></li>
        </ul>
   </div>
   <div class="clear"></div>