<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "downloads"%>
<%end%>

<div id="Box_Center">
	<h1><img src="/images/tit_noticias.png" width="14" height="19" style="margin:0 10px 0 0; float:none;"/><%=@noticia.title%></h1>
	<p style="float:none;">
		<br>
		<br>
		<i><%=@noticia.created_at.to_date.strftime("%d/%m/%Y")%></i><br>
		<br>
		<p class="Box_noticias"><%=raw (@noticia.body)%></p>
	</p>
</div>
