@charset "utf-8";
/* CSS Document */

*
{
	margin:0px;
	padding:0px;	
}
a, p, td, input, textarea, span, div
{
	
}
img
{
	border:none;	
}

p
{
	text-align:justify;
}

a
{
	text-decoration:none;	
}

a:hover
{
	text-decoration:underline;	
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('MyriadPro-Regular.ttf') format('truetype'),
         url('MyriadPro-Regular.svg#TheSansCorrespeBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	background-image:url(../images/backhome.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	text-align:center;
}

#Geral
{
	position:relative;
	margin:0 auto;
	text-align:center;
}	
  
		#Geral #Header
		{
			position:relative;
			margin:auto;
			width:960px;
			height:247px;
		}
			#Geral #Header #Barralog
			{
				background-image:url(../images/Barralog.png);
				background-repeat:no-repeat;
				background-position:center;
				margin:0 auto;
				width:950px;
				height:25px;
				font-family: MyriadPro-Regular!important;
				font-size:11px !important;
				color:#333333 !important;
				padding-top:4px;
			}
			#Geral #Header #Barralog a
			{
				font-family: MyriadPro-Regular!important;
				font-size:10px !important;
				color:#333333 !important;	
				text-decoration:none;			
			}
				#Geral #Header #Barralog a:hover
				{
					font-family: MyriadPro-Regular!important;
					font-size:10px !important;
					color:#666666 !important;	
					text-decoration:underline;					
				}						
			     #Geral #Header #Infouser
				 {
					position:relative;
					left:281px;
					*left:131px;
					width:660px;
					height:139px;	 
				 }
						 #Geral #Header #Infouser #Boxuser
						 {
							padding:50px 0 0 0;
							float:left;
							width:530px;
							height:90px;
							font-family: MyriadPro-Regular!important;
							font-size:11px !important;
							color:#333333 !important;							
						 }
						 .Boxuser_align_text1
						 {
							 position:relative;
							 top:-3px;
							 left:0px;							
						 }						 
						 #Geral #Header #Infouser #Boxuser a
						 {
							 text-decoration:none;
							color:#333333 !important;							
						 }
							 #Geral #Header #Infouser #Boxuser a:hover
							 {
								 text-decoration:underline;
								color:#333333 !important;							
							 }						 
			    			    
			 
						#Geral #Header #Logo
						{
							position:absolute;
							top:30px;
							left:0px;
							margin:5px 0 0 0;
							background-image:url(../images/logo.png);
							background-position:center top;
							width:207px;
							height:206px;	
						}
						
							#Geral #Header #Busca
							{	
								position:relative;
								left:134px;
								margin:auto;
								width:660px;
								height:27px;
							}
										#Geral #Header #Busca input
								{
									background-image:url(../images/img_barra_busca.png);
									background-repeat:no-repeat;
									background-color:transparent;
									width:100%;
									height:27px;
									border:none;
									margin:0 0 0 0;
									padding-left:10px;
									font-family: Tahoma, Geneva, sans-serif!important;
									font-size:12px !important;
									color:#666666 !important;	
								}
									#Geral #Header #Menu
									{
										position:relative;
										left:277px;
										width:auto;
										height:47px;
									}
											 #Geral #Header #Menu ul
   											 {
												padding:0px;
												margin:20px 0 0 0;
												min-width:100px;
												width:auto;
												list-style:none;
												
											 }
			
													#Geral #Header #Menu li
													{
														margin:-2px;
														padding:0;
														display: inline; 
													}
						
			
		#Geral #Center
		{
			position:relative;
			margin:auto;
			width:960px;
		}
		#Geral #Center #Box_center
		{
			position:relative; 	
			margin:50px auto;
			width:960px;
		}
		#Geral #Center #Titulo_tabpedido
		{
			width:941px;
			height:30px;
			margin:0px auto;	
		}		
		#Geral #Center #Box_center #Tabela_pedido
		{
			background-image:url(../images/back_tabelapedido.png);
			background-repeat:no-repeat;
			background-position:top center;
			width:919px;
			height:220px;
			margin:auto auto 31px auto;
			padding:10px 9px 0 13px;
		}
		#Geral #Center #Box_center #Tabela_pedido .img_veja_todas_align
		{	
			position:absolute;
			right:0px;
			margin-right:43px;
			margin-top:10px;
		}		
		 #Tabela_pedido .Table_pedido_title
		{
			text-align:center;
			font-family:Tahoma, Geneva, sans-serif;
			font-size:15px;
			font-weight:bold;		
			color:#999999;
			border-collapse:collapse;
			border:none; 
		}
		 #Tabela_pedido .Table_pedido
		{
			text-align:center;
			font-family:Tahoma, Geneva, sans-serif;
			font-size:14px;
			font-weight:normal;		
			color:#333333;
			border-collapse:collapse;
			border:none; 
		}	
		#Tabela_pedido .Table_pedido .Font_detalhes a
		{
			color:#FF903B;
			text-decoration:none;
		}
			#Tabela_pedido .Table_pedido .Font_detalhes a:hover
			{
				color:#FF903B;
				text-decoration:underline;
			}		
				#Geral #Center #Box_center #Tabela_pedido #Info_tabela
				{
					display:inline-block;
					width:939px;
					height:40px;
					margin:17px 0 0 11px;
				}	
				#Geral #Center #Box_center #Tabela_pedido #Info_tabela h1
				{
					text-align:left;
					margin:6px 0 0 10px;
				}				
						    #Geral #Center #Box_center #Tabela_pedido #Campo_info1
							{
								font-family:Tahoma, Geneva, sans-serif;
								font-size:12px;
								font-weight:normal;
								color:#999999;
								display:inline-block;
								width:155px;
								height:30px;
								margin:auto 10px 0 0;
								background-color:#F3F3F3;
							}		
						    #Geral #Center #Box_center #Tabela_pedido #Campo_info2
							{
								font-family:Tahoma, Geneva, sans-serif;
								font-size:12px;
								font-weight:normal;
								color:#999999;
								display:inline-block;
								width:140px;
								height:30px;
								margin:auto 10px 0 0;
								background-color:#F3F3F3;
							}		
						    #Geral #Center #Box_center #Tabela_pedido #Campo_info3
							{
								font-family:Tahoma, Geneva, sans-serif;
								font-size:12px;
								font-weight:normal;
								color:#999999;
								display:inline-block;
								width:490px;
								height:30px;
								margin:auto 10px 0 0;
								background-color:#F3F3F3;
							}	
#Fotobox
{
	position:relative;
	min-height:500px;
	width:250px;
	float:left;
	
}
#Fotobox h1 img
{
	margin-right:5px;	
}								
#Dadosbox
{
	position:relative;
	min-height:10px;
	width:auto;
	float:left;
	width:694px;
	top:40px;
	
}							
										
			#Geral #Center .Titulo
			{
				margin:30px 0 17px 5px;	
			}
				 #Geral #Center .Titulos img
				 {
					   margin-right:5px;
				  }				
					#Geral #Center ul
					{
						padding:0px;
						margin:5px 0 0 0;
						list-style:none;			
					}
						 #Geral #Center input
						 {
							margin:0px;
							padding:0;
						 }
	
							 #Geral #Center li
							 {
								font-family:Tahoma, Geneva, sans-serif;
								font-size:12px;
								font-weight:normal;
								color:#999;
								margin:7px 0 0 0;
								padding:0;
								display:list-item;
								text-align:justify;	
							 }
							 #Geral #Center p
							 {
								margin:3px 0 0 0px;
								padding:0;
								text-align:justify;
							 }
											
						 #Geral #Center #Botao
						 {
							margin:25px 0 0 0;
							padding:0;
							width:220px;
							height:40px;
							display:block;
					     }
						
								 #Geral #Center h1
								 {
									   position:absolute
									   left:0px;
									   display:block;
									   font-family:Tahoma, Geneva, sans-serif;
									   font-size:14px;
									   font-weight:bold;
									   color:#999;
									   text-align:left;	
									   margin-top:10px;
								  }
							  
			#Geral #Center #Pesquisa
			{
				margin:20px 10px 0 0;
				display:inline-block;
				width:220px;
				height:334px;
			}
				
			#Geral #Center #Pedido
			{
				margin:0 10px 0 0;
				display:inline-block;
				width:470px;
				height:334px;
			}
			#Geral #Center #Pedido #Backtemp
			{
				background-image:url(../images/back_pedidos.png);
				background-repeat:no-repeat;
				background-position:center top;
				margin:40px 0 0 0;
				display:block;
				width:100%;
				height:100%;
			}
					#Geral #Center #Pedido #Tabela
					{
						font-family:Tahoma, Geneva, sans-serif;
						font-size:12px;
						font-weight:normal;
						color:#999;
						float:left;
						margin:25px 0 0 15px;
						padding:0;
						display:block;
					}
								#Geral #Center #Pedido #Tabela tr
								{
									
									border:#666 solid 3px;
								}
							
			#Geral #Center #At_online
			{
				margin:0 0px 0 0;
				display:inline-block;
				width:220px;
				height:334px;
			}
				#Geral #Center #At_online #Onlinebox
				{
					float:left;
					display:inline-block;
					background-image:url(../images/img_back_boxonline.png);
					background-repeat:no-repeat;
					background-position:center top;
					width:222px;
					height:26px;
						
				}

					
			#Geral #Center #Promocoes
			{
				position:relative;
				display:block;
				margin:0 10px 0 0;
				display:inline-block;
				float:left;
				width:220px;
				height:334px;
			}
			#Geral #Center #Noticias
			{
				position:relative;
				display:block;				
				margin:0 10px 0 0;
				display:inline-block;
				width:700px;
				height:334px;
			}
			.Box_content_noticias
			{
				position:relative;
				width:710px;
				height:44px;
				margin-bottom:10px;
			}
				
			.Data_noticias
			{
				font-family:Tahoma, Geneva, sans-serif;
				font-size:12px;
				font-weight:normal;	
				color:#CCCCCC;				
				position:relative;
				text-align:left;
			}	
			
				
			.Box_noticias
			{
				font-family:Tahoma, Geneva, sans-serif;
				font-size:12px;
				font-weight:normal;
				color:#CCCCCC;	
				position:relative;
				text-align:left;
				padding-left:5px;
								
			}
				.Box_noticias a
				{
					color:#CCCCCC;
					text-decoration:none;				
				}	
					.Box_noticias a:hover
					{
						color:#CCCCCC;				
						text-decoration:underline;
					}			
			.Bt_vejamais_not_align
			{
				position:absolute;
				right:0px;
			}
					#Geral #Center #Noticias ul li a
					{
						margin:0px 0 0 20px;
						font-family:Tahoma, Geneva, sans-serif;
						font-size:12px;
						font-weight:normal;
						color:#999;
					}
				
			#Geral #Center #Sua_opiniao
			{
				margin:0 0px 0 0;
				display:inline-block;
				width:220px;
				height:334px;
			}
			#Geral #Center #Sua_opiniao p
			{
				font-family:Tahoma, Geneva, sans-serif;
				font-size:12px;
				font-weight:normal;
				color:#999;
			}
		#Footer
		{
			display:block;
			position:relative;
			background-image:url(../images/backfoot.jpg);
			background-repeat:no-repeat;
			background-position:center top;
			width:100%;
			height:282px;
		}
		#Footer  #Conteudo
		{	
			position:relative;
			margin:auto;
			width:960px;
			height:280px;
			text-align:center;
		}
			#Footer #Conteudo a
			{ 
				position:relative;
				font-family: MyriadPro-Regular!important;
				font-size:10px !important;
				color:#666666 !important;
				margin:0px 5px 0px 0px;
			}
					#Conteudo #Menu
					{
						position:relative;
						text-align:right;
						float:right;
						margin-right:77px;
						top:11px;
					}
				#logo_bot
				{
					position:relative;
					display:inline-block;
					width:960px;
					height:47px;
					top:215px;
				}					
.clear
{
	clear:both;	
}

.center
{
	text-align:center;
}
.left
{
	text-align:left;
}

.progress_poll
{
	background-image:url('/images/progressmeter1om.jpg');
}

.form
{
	border:1px solid #999999;
	width:350px;
	height:20px;
}

.form_button
{
	padding:5px !important;
	border:1px solid #E5E5E5;
	background-color:#F6F6F6;
	font-size:15px !important;
	font-family: 'MyriadPro-Regular';
	cursor:pointer;
	color:#919191;
}

.form_button:hover
{
	border:1px solid #F6F6F6;
	background-color:#E5E5E5;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  padding:5px;
  font-size:13px !important;
  font-family: 'MyriadPro-Regular';
  color:;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}
