<%content_for :head do%>
	<%=stylesheet_link_tag "fazerpedido"%>
	<%=stylesheet_link_tag "passo3"%>
<%end%>

<div id="Produtosbox">
	<div class="Titulo_produto">
		<img src="/images/tit_produtos.png" width="16" height="21" />
		<h1 class="Tile_h1">Sucesso</h1>
	</div>
	
	<div id="name">
		<p class="Box_noticias">
			Seu pedido foi cadastrado com sucesso!
			<br><br>
		</p>
	</div>
</div>
