<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "downloads"%>
<%end%>

<div id="Box_center">
	<div class="Titulos"><img src="/images/tit_noticias.png" style="float:left;" /><h1>Sobre o Amigo da Revenda</h1></div>
	<p style="float:none;" class="Box_noticias">
		O Amigo da Revenda é uma rede corporativa da Nautilus criada para facilitar o contato entre revendedores e suas revendas, bem como a troca de informações e soluções de dúvidas diretamente com a Nautilus em tempo real. O revendedor poderá realizar pedidos de produtos Nautilus que poderão ser aceitos, encontrar outras revendas, obter mais informações das últimas notícias, novidades e descontos em equipamentos industriais, além de aproximar e criar relacionamentos com outros revendedores Nautilus em todo o País.
	</p>
</div>
