<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "downloads"%>
<%end%>

<div id="Box_Center">
		<div class="Titulos"><img src="/images/tit_noticias.png" style="float:left;" /><h1>Termos de uso</h1></div>
		<p style="float:none;" class="Box_noticias">
			Todo o conteúdo deste site pertence à Nautilus Equipamentos Industriais e está protegido pelas leis de copyright. O uso das informações, tais como imagens, textos exclusivos, entre outros conteúdos, é terminantemente proibido e, havendo transgressão desta regra, o responsável deverá responder judicialmente.
			<br><br>
			As publicações de caráter informativo deste site estão baseadas em informações igualmente fornecidas pela empresa detentora da patente dos produtos, não representando necessariamente o resultado de constatações feitas pela empresa proprietária deste site.
			<br><br>
			Recomendamos aos usuários que leiam com atenção cada seção do site a fim de compreender e se in formar da melhor forma possível sobre os produtos e serviços aqui disponibilizados. Havendo, ainda assim, dúvidas, recomendamos que os mesmos entrem em contato com os profissionais responsáveis.
			<br><br>
			Fica estabelecido que quaisquer dúvidas ou sugestões devem ser encaminhadas para os responsáveis para que, no tempo possível, sejam solucionadas.
		
		</p>
</div>
