<% title "Nova Forma de Pagamento" %>
<h1>Nova Forma de Pagamento</h1><br />
<p>Preenchar os campos abaixo para incluir um registro.</p><br />

<%= render 'form' %>

<p><%= link_to "Voltar para a lista", admin_payments_path %></p>
