<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "downloads"%>
<%end%>

<div id="Box_Center">
	<div class="Titulos"><img src="/images/tit_noticias.png" style="float:left;" /><h1>Política de Privacidade</h1></div>
	<p style="float:none;" class="Box_noticias">
		

		<strong>Política de Privacidade</strong><br>
		Este documento descreve as práticas referentes à política de privacidade do portal Amigo da Revenda. Ao utilizar este Site você concorda com nossas práticas de privacidade. Caso você discorde de nossas práticas de privacidade, não utilize este Site nem realize o download de qualquer material dele proveniente. <br><br>
		O portal Amigo da Revenda terá funcionalidade semelhante à corporativa, sendo utilizado para troca de informações, contato com a revenda e/ou a Nautilus e compartilhamentos de assuntos referentes a questões profissionais ou que envolvam os profissionais neste portal cadastrados.<br><br>

		<strong>Sua Privacidade</strong><br>
		Uso de Informações de Identificação Pessoal <br>
		A única forma para o usuário obter acesso ao conteúdo do portal é por meio de cadastro, disponível apenas para revendedores, representantes e para a própria Nautilus. Para tanto, o fornecimento de informações para identificação pessoal, incluindo nome, endereço físico, endereço eletrônico, assim como números telefônicos ou de fax, CPF, RG e informações de cunho profissional, se faz necessário. Coletamos tais dados para possibilitar a melhor compreensão de suas necessidades e garantir melhor funcionamento da proposta do portal. Algumas das informações solicitadas são facultativas, ou seja, você não precisa fornecê-las se não julgar necessário.  <br><br>
		Ao realizar seu cadastro no Amigo da Revenda, você participará de um ambiente virtual rico em compartilhamento de informações pessoais e profissionais. Algumas delas serão públicas, para que outros revendedores e também a Nautilus tenham acesso rápido, outras não serão, necessariamente, públicas, sendo então, de sua escolha fornecê-las ou não para os outros usuários. Por este motivo, não é permitido que seja utilizado no avatar imagens com direitos autorais pertencentes à outras pessoas, e que não corresponda ao usuário.<br><br>
		A Nautilus não se responsabiliza pelo uso indevido de informações entre revendedores. O ambiente do Amigo da Revenda terá como objetivo integrar ainda mais revendedores e revendas e tornar o trabalho mais produtivo e interligado. Para que isso seja possível é prudente que cada usuário tenha consciência das informações compartilhadas e fornecidas, evitando, assim, que se perca o foco e objetivo principal da ferramenta.<br><br>

		<strong>Uso de Cookies </strong><br>
		A Nautilus pode fazer uso de cookies de tempos em tempos. Os cookies são pequenos arquivos de texto que websites podem utilizar para reconhecer um visitante constante. Os cookies permitem que ofereçamos a você uma melhor experiência de navegação, já que com eles somos capazes de compreender quais as áreas do site que despertam o interesse de nossos membros. Tais cookies não armazenam dados pessoais. Caso você não queira que a Nautilus utilize cookies em seu browser, programe seu browser para rejeitar cookies ou para notificá-lo todas as vezes que um website tentar utilizar cookies com seu software de navegação. Caso você decida desabilitar os cookies de seu navegador, ainda assim será possível acessar a maior parte deste Site; contudo, seu acesso a alguns produtos e/ou serviços pode ficar comprometido.<br><br>

		<strong>Senha</strong><br>
		Ao realizar o cadastro no Amigo da Revenda você receberá uma senha que garantirá seu acesso. Você é responsável por manter a confidencialidade de seus dados pessoais e senha. Você será responsabilizado por toda a utilização de sua senha, tenha ela sido autorizada por você ou não. Você também concorda em nos notificar imediatamente sobre qualquer uso não autorizado de sua senha. <br><br>
		Encorajamos você a não fornecer sua senha para outras pessoas e a não permitir que outros usem o seu cadastro para ter acesso às informações do portal. Saiba que tal fornecimento implica na revelação de informações que não dizem respeito a quaisquer outras pessoas que não sejam revendedores ou da Nautilus e essa ação pode acarretar consequências prejudiciais a toda a equipe e usuários. No entanto, informamos que a Nautilus não se responsabiliza por usuários que repassem suas informações de cadastro para terceiros. 




		<strong>Links para Sites de Terceiros </strong>
		Neste site pode haver links de redirecionamento para outros sites. A Nautilus não é responsável pelo compartilhamento desses links quando realizado entre usuários. Sugerimos a você que esteja atento aos links compartilhados para evitar eventuais transtornos.
		Clicando em um link desconhecido e acessando outro site, seja de produtos ou serviços, você estará sujeito às políticas de privacidade do mesmo.
		Lembre-se de que qualquer informação enviada através de uma sala de chat ou fórum será considerada informação de domínio público (dentro do ambiente do portal), ou seja, não será interpretada como confidencial. A possibilidade de terceiros obterem acesso a essas informações para coletar dados não está descartada, uma vez que a internet não é um ambiente totalmente seguro. Seja cuidadoso e responsável quando estiver online.
	</p>
</div>
