<%content_for :title do%>
	
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "downloads"%>
<%end%>

<div id="Barradown">
	<div class="Titulos"><img src="/images/tit_noticias.png" style="float:left;" /><h1>Ajuda</h1></div>
	<p style="float:none;">
		
	</p>
</div>
