<%=raw(@out)%>
<script>
$(".cb_discount").change(function(){
	//CALCULA OS DESCONTOS
	
	var valorun = Number($("#preco").val());
	
	if(Number($("#desconto1").val()) > 0)
	{
		valorun = valorun - (valorun * (Number($("#desconto1").val()) / 100)) 
	}
	
	if(Number($("#desconto2").val()) > 0)
	{
		valorun = valorun - (valorun * (Number($("#desconto2").val()) / 100)) 
	}
	
	if(Number($("#desconto3").val()) > 0)
	{
		valorun = valorun - (valorun * (Number($("#desconto3").val()) / 100)) 
	}
	
	if(Number($("#desconto4").val()) > 0)
	{
		valorun = valorun - (valorun * (Number($("#desconto4").val()) / 100)) 
	}
	
	if(Number($("#desconto5").val()) > 0)
	{
		valorun = valorun - (valorun * (Number($("#desconto5").val()) / 100)) 
	}
	
	if(Number($("#desconto6").val()) > 0)
	{
		valorun = valorun - (valorun * (Number($("#desconto6").val()) / 100)) 
	}
	
	if(Number($("#desconto7").val()) > 0)
	{
		valorun = valorun - (valorun * (Number($("#desconto7").val()) / 100)) 
	}
	
	
	$("#price").html("<p class='Box_noticias' style='color:green;'>R$ "+ valorun +"</p>");
	
	/*
	$valorun = $valorun - ($valorun * (p.discount / 100)) if p.discount > 0
	$valorun = $valorun - ($valorun * (p.discount2 / 100)) if p.discount2 > 0
	$valorun = $valorun - ($valorun * (p.discount3 / 100)) if p.discount3 > 0
	$valorun = $valorun - ($valorun * (p.discount4 / 100)) if p.discount4 > 0
	$valorun = $valorun - ($valorun * (p.discount5 / 100)) if p.discount5 > 0
	$valorun = $valorun - ($valorun * (p.discount6 / 100)) if p.discount6 > 0
	$valorun = $valorun - ($valorun * (p.discount7 / 100)) if p.discount7 > 0
	
	$('#price').html("calcula os descontos");
	*/
});
</script>

<h2>Valor líquido</h2>
<div id="price">
	<p class="Box_noticias" style="color:red;">Para visualizar o valor líquido, escolha ao menos um desconto.</p>
</div>