<% title "Edit Transporter" %>
<h1>Editar Usuário</h1><br />
<p></p><br />

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", admin_user_path(@user) %> |
  <%= link_to "View All", admin_users_path %>
</p>
