<% title "Editar" %>
<h1>Editar Desconto</h1><br />
<p>Preenchar os campos abaixo para editar o registro.</p><br />

<%= render 'form' %>

<p>
  <%= link_to "Show", [:admin, @category_reseller_discount] %> |
  <%= link_to "View All", admin_category_reseller_discounts_path %>
</p>
