<% title "Editar" %>
<h1>Novo Desconto</h1><br />
<p>Preenchar os campos abaixo para criar um novo registro.</p><br />

<%= render 'form' %>

<p><%= link_to "Voltar para lista", admin_category_reseller_discounts_path %></p>
